body {
    background-color: bisque;
}

.container {
    width: 75%;
    margin: auto;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

img {
    width: 100%;
    border-radius: 4px;
}